*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: inline-block;
    width: 200px;
    height: 200px;
    background: rgb(31, 179, 51);
    border: 3px solid rgb(75, 235, 110);
    margin: 10px;
    padding: 20px;
}.estatico{
    position: static;
    top: 200px ;
    left: 200px;
    background: rgb(188, 18, 211);

}
.relativo{
    position: relative;
    top: 100px ;
    left: 50px;
    background: rgb(6, 27, 95);
}

.fijo{
    position: fixed;
    top: 250px;
    right: 0px;
    background: rgb(209, 26, 26);
}
.pegajoso {
    position: sticky;
    top: 200px;
    left: 200px;
    right: 200px;
    background: rgb(150, 78, 138);
}
.estaticos{
    position: static;
    top: 100px;
    left: 100px;
    background: rgb(218, 198, 26);
}
.absoluttos{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background: rgb(211, 93, 93);
    z-index:5 ;
    opacity: 0.5;
    color: rgb(99, 170, 59);

}
.sss{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 166, 0);
}
.ccc{
    position: absolute;
    bottom: 0;
right: 0;
    margin: 0;
   
    background-color: rgb(0, 225, 255);
}
.aaa{
position: absolute;
bottom: 0;
left: 0;
margin: 0;
background-color: rgb(110, 29, 187);
}
.bbb{
    position: fixed;
    right: 0;
    top: 100px;
    margin: 0;
    background-color: rgb(50, 130, 204);
}
a{
    
    text-decoration: double;
    display: grid;
    padding:0px;
    background: rgb(238, 251, 119);
    width: 300px;
    margin: 0px auto;
    font-family: "Arial Black";
    color:black;
    border-radius: 25px;
    border:3px solid black;
    box-shadow: 0 0 5px rgba(0,0,0);
    }   
.A{

    position: absolute;
    top: 3100px;
    left: 500px;
    margin: 0px;
    padding: 0px;
    background: rgb(13, 241, 241);
    z-index:5 ;
    opacity: 0.5;
    color: rgb(63, 211, 248);

}
.AN{
    position: absolute;
    top: 3150px;
    left: 550px;
    margin: 0px;
    padding: 0px;
    background: rgb(92, 0, 104);
    z-index:5 ;
    opacity: 0.5;
    color: rgb(228, 132, 16);
}
.AND{
    position: absolute;
    top: 3200px;
    left: 600px;
    margin: 0px;
    padding: 0px;
    background: rgb(12, 10, 170);
    z-index:5 ;
    opacity: 0.5;
    color: rgb(174, 219, 48);
}
.ANDY{
    position: absolute;
    top: 3250px;
    left: 650px;
    margin: 0px;
    padding: 0px;
    background: rgb(112, 233, 88);
    z-index:5 ;
    opacity: 0.5;
    color: rgb(240, 96, 29);
}