*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: purple;
}
@media(min-width:10px) and (max-width:50px){
    body{
        background: red;
    }
}
@media(min-width:70px) and (max-width:100px){
    body{
        background: green;
    }
}
@media(min-width:150px) and (max-width:220px){
    body{
        background: yellow;
    }
}
@media(min-width:300px) and (max-width:400px){
    body{
        background: orange;
    }
}
@media(min-width:500px) and (max-width:600px){
    body{
        background: pink;
    }
}

